:root {
    --secondary-color: #ffffff;
}

body {
    background-color: #365f9f;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main-container {
    top: 2vh;
    display: flex;
    position: absolute;
    left: 1vw;
    height: 96vh;
    width: 98vw;
    margin: auto;
}

#big-nav {
    display: none;
}

.image_container {
    display: grid;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.image_container,
.nav_items {
    background-color: #287bff;
    width: max-content;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.image_container img,
.nav_items img {
    width: 35px;
    margin: 8px !important;
}

.nav_items {
    width: 10vw;
    display: grid;
    height: 100%;
    justify-items: flex-start;
    align-items: center;
}

.nav_items p {
    margin: 0px;
}

.nav_items div {
    display: flex;
    align-items: center;
}

.content {
    background-color: var(--secondary-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 16px;
}

.search-container img {
    width: 35px;
    height: max-content;
    margin-left: 32px;
}

.user-image {
    margin: 8px;
}

.search-container .search {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 4px;
    margin: 8px;
    border: 1px solid rgb(108, 117, 125)
}

.search-container .search img {
    width: 17px;
    margin-left: 8px !important;
}

.search-container .search input {
    border: none;
    outline: none;
    background: none;
    color: rgba(33, 37, 41, 0.75);
    margin-left: 4px;
}

.statistics-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 48px;
}

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 100px;
    perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.flip-card-basic,
.flip-card-back,
.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-front img {
    width: 50px;
}

.flip-card-back {
    background-color: #287bff;
    color: white;
    transform: rotateY(180deg);
}

.table-container {
    width: 94%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 4vh;
}

.recent-orders-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container h3 {
    color: #287bff;
}

.table-container button {
    background-color: #287bff;
    border: none;
    color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.table-container table {
    margin-top: 25px;
    width: 100%;
}

.table-container table td {
    border-bottom: 1px solid lightgrey;
    padding: 12px 0px;
}

.table-container table th {
    text-align: left;
}

@media screen and (max-width: 600px) {

    .main-container {
        width: 88vw;
    }

    .flip-card {
        margin: 10px 0px;
        width: 135px;
    }

    .search-container .search {
        margin-left: 1.5rem !important;
    }

    .search-container img {
        display: none;
    }

    .statistics-container {
        flex-wrap: wrap;
        margin: 20px 10px;
        justify-content: space-around;
        width: 84vw;
    }

    .table-container {
        overflow-y: scroll;
        height: 48vh;
        margin-left: 20px;
        width: 91%;
    }
}

@media screen and (max-width: 700px) {
    .table-container table td {
        padding: 12px 56px 12px 0px;
        white-space: nowrap;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-container {
        width: 92vw;
    }

    .nav_items {
        width: 18vw;
    }

    .table-container {
        margin-left: 25px;
        overflow-y: scroll;
        height: 50vh;
    }

    .statistics-container {
        margin: 20px 26px;
        width: 86vw;
        flex-wrap: wrap;
    }

    .flip-card {
        margin: 10px 0px;
    }
}