.myclass {
  color: #FF8000;
}
.myclass1 {
  color: #5882FA;
}
.container h1 {
  font-size: 50px;
  color: #5fb8d6;
}
.container p {
  font-size: 20px;
  color: #7979d8;
}
.container .myclass h1 {
  font-size: 25px;
  color: #5fb8d6;
}
@media screen and (max-width: 500px) {
  .container .myclass h1 {
    color: red;
  }
}
.container .myclass p {
  font-size: 25px;
  color: #3C7949;
}
p {
  color: blue;
  font-size: 20px;
}
.mycolor {
  background-color: #FF8000;
  width: 50%;
}
.mycolor1 {
  background-color: #21537e;
}
.style {
  background: #BF70A5;
}
.container1,
.style {
  font-style: italic;
  color: blue;
}
.img,
.style {
  font-size: 30px;
}
.p2 {
  background-color: black;
  color: darkcyan;
  border: 2px solid black;
  padding: 5px;
}
